.item-info-container {
  display: flex;
  position: relative;
  a {
    text-decoration: none;
    flex: 1;
  }
  .votes {
    width: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .up-vote,
    .down-vote {
      cursor: pointer;

      &.voted {
        color: red;
      }
    }

    .count {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      height: 48px;
      width: 48px;
      user-select: none;
    }
  }
}

.info {
  flex: 1;
  padding: 16px;
  box-sizing: border-box;

  @media (max-width: 600px) {
    width: 50%;
  }

  .title {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.870588);
    display: block;
    line-height: 36px;
    word-wrap: break-word;

    @media (max-width: 600px) {
      font-size: 22px;
    }
  }
  .subtitle {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.541176);
    display: block;
  }
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin-right: 4px;
}

.created-time {
  padding: 16px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  text-align: right;
  box-sizing: border-box;
  width: 150px;
}

