.item-info {
  display: flex;
  position: relative;
  a {
    text-decoration: none;
    flex: 1;
  }
  .votes {
    width: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .up-vote,
    .down-vote {
      cursor: pointer;

      &.voted {
        color: red;
      }
    }

    .count {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      height: 48px;
      width: 48px;
      user-select: none;
    }
  }
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin-right: 4px;
}

.created-time {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

