:global {
  .parallax-scene,
  .layer {
    width: 100%;
    height: 100%;
  }
}

.section-container,
.section-wrapper,
.section,
.section > div {
  width: 100%;
  height: 100%;
  position: relative;
}

.section-container {
  background-color: white;
  overflow: hidden;
}

.section-wrapper {
  position: absolute;
  transition: all 1000ms;
}

.goto-top-icon {
  position: absolute;
  width: 48px;
  height: 48px;
  right: 24px;
  bottom: 45px;
  cursor: pointer;
}

.logo-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -80%);
  display: flex;
  flex-direction: column;
  align-items: center;

  @media(width < 768px) {
    transform: translate(-50%, -100%);
  }
}

.main-section-ring {
  width: 100%;
  height: 100%;

  .large-ring,
  .medium-ring,
  .small-ring {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .small-ring {
    width: 900px;
    height: 900px;
    bottom: -250px;
  }

  .medium-ring {
    width: 1050px;
    height: 1050px;
    bottom: -350px;
    left: 45%;
  }

  .large-ring {
    width: 1200px;
    height: 1200px;
    bottom: -400px;
  }
}

.title {
  font-size: 50px;
  padding-top: 50px;
  letter-spacing: 0.3em;

  @media(width < 768px) {
    font-size: 30px;
  }
}

.header-logo {
  width: 250px;
}

.header-planet-upper {
  width: 800px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);

  @media(width < 768px) {
    width: 110%;
    bottom: 150px;
  }
}

.header-planet-lower {
  background-image: url(./images/header-planet-lower.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 800px;
  padding-top: 100px;
  padding-bottom: 300px;
  box-sizing: border-box;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 100%);

  @media(width < 768px) {
    width: 110%;
    bottom: 150px;
    padding-top: 10px;
  }

  .cowbei {
    text-align: center;
    color: white;
    font-size: 25px;

    @media(width < 768px) {
      display: none;
    }
  }

  .time-location {
    text-align: center;
    color: white;
    font-size: 15px;
    display: none;

    @media(width < 768px) {
      display: block;
    }
  }
}

.what-is-nthuion {
  text-align: center;
  padding-top: 400px;
  font-size: 25px;
}

.what-is-hackathon {
  position: absolute;
  top: -150px;
  left: -700px;
  background-color: #646464;
  width: 1500px;
  height: 1300px;
  border-radius: 50%;
  padding-top: 300px;
  padding-left: 800px;
  padding-right: 180px;
  box-sizing: border-box;
  color: #eee;
  font-size: 20px;
  line-height: 36px;

  @media(width < 768px) {
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-top: 50px;
    color: #555;
    font-size: 18px;
    line-height: 30px;
  }
}

.photo-container {
  .photo-a {
    position: absolute;
    top: 100px;
    right: 20%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: red;
  }
  .photo-b {
    position: absolute;
    top: 300px;
    right: 15%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: orange;
  }
  .photo-c {
    position: absolute;
    top: 450px;
    right: 20%;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: yellow;
  }

  @media(width < 768px) {
    .photo-a,
    .photo-b,
    .photo-c {
      display: none;
    }
  }
}

.section3 {
  .large-ring {
    position: absolute;
    width: 800px;
    height: 800px;
    right: -300px;
    bottom: -100px;
  }
  .medium-ring {
    position: absolute;
    width: 750px;
    height: 750px;
    right: -300px;
    bottom: -150px;
  }
  .small-ring {
    position: absolute;
    width: 600px;
    height: 600px;
    right: -200px;
    bottom: -50px;
  }
}

.line-a {
  width: 90%;
  position: absolute;
  right: 0;
  bottom: 200px;

  @media(width < 768px) {
    display: none;
  }
}

.change-school {
  color: #eee;
  font-size: 20px;
  line-height: 36px;
  width: 500px;
  padding-left: 100px;

  @media(width < 768px) {
    display: none;
  }
}

.three-circle {
  @media(width < 768px) {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.before-hackathon,
.hackathon-morning,
.hackathon-afternoon {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  padding: 20px 60px;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;

  h4 {
    margin: 0;
    font-size: 20px;
  }

  @media(width < 768px) {
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
    flex: 1;
    border-radius: 0;
    padding: 10px;
  }
}

.before-hackathon {
  left: 20%;
  bottom: 100px;
  background-color: #0F9573;

  @media(width < 768px) {
    top: 0;
    left: 0;
  }
}

.hackathon-morning {
  top: 10%;
  right: 30%;
  background-color: #496AA5;

  @media(width < 768px) {
    top: 0;
    right: 0;
  }
}

.hackathon-afternoon {
  right: 10%;
  bottom: 50px;
  background-color: #0F98AB;

  @media(width < 768px) {
    top: 0;
    right: 0;
  }
}

.schedule-container {
  height: 100%;
  padding-left: 150px;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  @media(width < 768px) {
    padding: 0;
  }
}

.schedule-table {
  width: 400px;

  @media(width < 768px) {
    width: 100%;
  }
}

.schedule-row {
  width: 100%;
  display: flex;
}

.schedule-time,
.schedule-event {
  background-color: #ddd;
  margin: 5px;
  padding: 10px 25px;

  @media(width < 768px) {
    font-size: 14px;
  }
}

.schedule-event {
  flex: 1;
}

.schedule-title {
  position: absolute;
  top: 50px;
  right: 20%;
  background-color: #0F98AB;
  color: white;
  font-size: 25px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media(width < 768px) {
    display: none;
  }
}

.location {
  position: absolute;
  top: 400px;
  right: 10%;
  background-color: #ddd;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    margin: 0;
    &:nth-child(1),
    &:nth-child(2) {
      font-size: 21px;
    }
    &:nth-child(2) {
      margin-bottom: 20px;
    }
  }

  @media(width < 768px) {
    display: none;
  }
}

.join-title {
  position: absolute;
  bottom: -250px;
  left: 100px;
  background-color: #496AA5;
  color: white;
  font-size: 25px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media(width < 768px) {
    left: 50%;
    transform: translateX(-50%);
    bottom: -150px;
    width: 120px;
    height: 120px;
  }
}

.section6 {
  display: flex;

  .left,
  .right {
    flex: 1;
  }

  @media(width < 768px) {
    flex-direction: column;
  }
}

.precaution {
  padding-top: 300px;
  padding-left: 200px;
  li {
    padding-left: 20px;
  }

  @media(width < 768px) {
    padding: 0 10px;
    padding-top: 150px;
  }
}

.admit {
  padding-left: 16px;
}

.join-now {
  background-color: #EB6100;
  color: white;
  width: 150px;
  font-size: 21px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;

  @media(width < 768px) {
    margin: auto;
  }
}

.preparation {
  padding-top: 30px;
  color: rgba(0, 0, 0, 0.5);

  @media(width < 768px) {
    text-align: center;
  }
}

.slide-box {
  padding-top: 300px;
}

.previous-slide,
.next-slide {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 50px;
  &.disable {
    color: rgba(0, 0, 0, 0.3);
  }
}

.slide-container {
  display: flex;
  width: 500px;
  height: 300px;
  margin: auto;

  @media(width < 768px) {
    width: 100%;
  }
}

.slide-slot {
  flex: 1;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 500ms;
  text-align: center;

  img {
    height: 150px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 500px;
  background-color: #0F9573;
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  box-sizing: border-box;
  
  @media(width < 768px) {
    height: auto;
  }
}

.coOrganizer {
  display: flex;
  padding: 50px 100px;

  div {
    flex: 1;
  }

  @media(width < 768px) {
    padding: 10px;
    flex-direction: column;
  }
}

